:root {

    /* headings */
    --heading-style: normal;
    --heading-weight: 600;
    --heading-line-height: 1.3rem;
    --heading-color: #1C1C1C;
    --heading-font: 'Cabin';

    --heading-size1: 3.125rem;
    --heading-size2: 2.8125rem;
    --heading-size3: 2.5rem;
    --heading-size4: 2.1875rem;
    --heading-size5: 1.875rem;
    --heading-size6: 1.5625rem;
    --heading-size7: 1.25rem;

    /* uncategorized */

    --white-text: #fff;

    --gap1: 6.25rem;

    --alt-text-color:#353535;

    /* paragraphs */
    --p-color: #595566;
    --p-font: 'Lato';
    --p-size: 1rem;
    --p-style: normal;
    --p-weight: 400;
    --p-line-height: 1.5rem;

    /* margin mellem forskellige elementer. Brug med "margin-block-start" */
    --flow-space: 0.5rlh;
}

/* centered screen grid with breakout, full-bleed and so etc. */
article{
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(50ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];

}

