p{
    color: var(--p-color);
    font-family: var(--p-font);
    font-size: var(--p-size);
    font-style: var(--p-style);
    font-weight: var(--p-weight);
    line-height: var(--p-line-height);
}

h3{
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-style: var(--heading-style);
    line-height: var(--p-line-height);
    font-weight: var(--heading-weight);
}
h2{
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-style: var(--heading-style);
    line-height: var(--p-line-height);
    font-weight: var(--heading-weight);
}

.hero_img_page1{
    grid-column: full;
    transform: scaleX(-1);
    z-index: -1;
}

.client_banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 5rem);
    grid-column: feature;
    color: #030211;
    align-items: center;
    text-align: center;
    column-gap: 2rem;
    padding: 0.5rem;
}

.businessGrowthCard{
    grid-column: content;
    margin-bottom:var(--flow-space-large);
}