---
import "../styles/global.css"
import "../styles/base.css"
import "../styles/reset.css"
import "../styles/general.css"

import Nav from "../components/Nav.astro"
import Button from "../components/Button.astro"
import BusinessGrowthCard from "../components/BusinessGrowthCard.astro"
import SectionTitle from "../components/SectionTitle.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Figma design exercise</title>
	</head>
	<body>
		<header>
			<Nav></Nav>
		</header>
		<main>
			<article>
				<img class="hero_img_page1" src="/imgs/ce65bc598ffea1fa523885cb66ce578d-min.webp" alt="Hero image">
				<section class="client_banner">
					<!-- Her laver jeg en sløv løsning og tager screenshots af alle de forskellige clienter. Det virker for tidskrævende at skulle finde samtlige fonte osv. -->
					<div>
						<img src="/imgs/studio_green/studio_green.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/norto.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/points_one.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/out_of_the_sandbox.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/brand.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/fortune.png" alt="Client logo">
					</div>
				</section>
				<BusinessGrowthCard></BusinessGrowthCard>
				<section class="aboutUsCard">
					<SectionTitle text="ABOUT US" color="yellow"></SectionTitle>
					<SectionTitle text="ABOUT US" color="green"></SectionTitle>
				</section>
			</article>
		</main>
	</body>
</html>
