---
import "../styles/global.css"
import "../styles/base.css"
import "../styles/reset.css"
import "../styles/general.css"

import Nav from "../components/Nav.astro"
import BusinessGrowthCard from "../components/BusinessGrowthCard.astro"
import AboutCard from "../components/AboutCard.astro"
import MarketExperience from "../components/MarketExperience.astro"
import Services from "../components/Services.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Figma design exercise</title>
	</head>
	<body>
		<header>
			<Nav></Nav>
		</header>
		<main>
			<article>
				<img class="hero_img_page1" src="/imgs/ce65bc598ffea1fa523885cb66ce578d-min.webp" alt="Hero image">
				<section class="client_banner">
					<div>
						<img src="/imgs/client_logos/studio_green/studio_green.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/client_logos/norto.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/client_logos/points_one.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/client_logos/out_of_the_sandbox.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/client_logos/brand.png" alt="Client logo">
					</div>
					<div>
						<img src="/imgs/client_logos/fortune.png" alt="Client logo">
					</div>
				</section>
				<BusinessGrowthCard></BusinessGrowthCard>
				<AboutCard></AboutCard>
				<MarketExperience></MarketExperience>
				<Services></Services>
			</article>
		</main>
	</body>
</html>
