---
import Button from "./Button.astro"
---

<div class="businessGrowthCard">
    <h2>Your small business growth advisors</h2>
    <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
    <div class="button_flexbox">
        <Button text="Our Services" color="black"></Button>
        <Button text="Book a Meeting" color="yellow"></Button>
    </div>
</div>

<style>
    .businessGrowthCard{
        display: flex;
        width: 100%;
        padding: 1.4375rem 1.3rem;
        flex-direction: column;
        gap: 0.625rem;
        grid-column: feature;

        border-radius: 1.8125rem;
        background-color: #F5F5F5;
        backdrop-filter: blur(5.5px);

        /* container: businessGrowthCard / inline-size; */
    }

    h2{
        color: var(--heading-color);
        font-family: var(--heading-font);
        font-size: var(--heading-size6);
        font-style: var(--heading-style);
        font-weight: 700;
        line-height: 1.625rem;
    }

    p{
        color: var(--p-color);
        font-family: var(--p-font);
        font-size: var(--p-size);
        font-style: normal;
        font-weight: 400;
        line-height: var(--p-line-height);
        margin-block-start: var(--flow-space-small);
    }

    .button_flexbox{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-block-start: var(--flow-space-large);
        align-self: center;
    }



    @media only screen and (min-width: 781px) {

  }

    /* @container businessGrowthCard (min-width: 500px) {
    .businessGrowthCard p { */
        /* margin-left: 2rem; */
    /* }
} */
/* 
        
        /* STYLE TILPASSET DESKTOP/FIGMA DESIGNET
        .businessGrowthCard{
        display: flex;
        width: 34.344663rem;
        padding: 3.4375rem 3.625rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;

        border-radius: 1.8125rem;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(5.5px);

        container: businessGrowthCard / inline-size;
    }

    h2{
        color: var(--heading-color);
        font-family: var(--heading-font);
        font-size: var(--heading-size1);
        font-style: var(--heading-style);
        font-weight: 700;
        line-height: 3.625rem;
    }

    p{
        color: var(--p-color);
        font-family: var(--p-font);
        font-size: var(--p-size);
        font-style: normal;
        font-weight: 400;
        line-height: var(--p-line-height);
        margin-block-start: var(--flow-space-small);
    }

    .button_flexbox{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-block-start: var(--flow-space-large);
    } */
</style>