<nav>
    <a href="/" class="ask_experts_container">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
            <path d="M26.9634 21.765C28.4964 21.765 29.7392 20.5223 29.7392 18.9893V3.09023C29.7392 1.55721 28.4964 0.314455 26.9634 0.314455L2.77577 0.314453C1.24276 0.314453 3.28691e-06 1.5572 1.38994e-06 3.09022L0 18.9893C-1.34021e-07 20.5223 1.24275 21.765 2.77577 21.765H14.1017C14.1053 21.7688 14.109 21.7725 14.1127 21.7762L21.2846 28.9481C21.8675 29.531 22.8641 29.1182 22.8641 28.2939V21.765H26.9634Z" fill="#FFCC4A"/>
            <rect x="7.57031" y="13.9478" width="13.8699" height="1.55035" rx="0.775175" fill="#1B1B1B"/>
            <rect x="7.56836" y="9.95361" width="13.8699" height="1.55035" rx="0.775175" fill="#1B1B1B"/>
            <rect x="7.57031" y="6.37305" width="13.8699" height="1.55035" rx="0.775175" fill="#1B1B1B"/>
            </svg>
        <h2>AskExperts</h2>
    </a>
    <ul>
        <li><a class="nav_link" href="/">Home</a></li>
        <li><a class="nav_link" href="/">Pages</a></li>
        <li><a class="nav_link" href="/">Services</a></li>
        <li><a class="nav_link" href="/">Work</a></li>
        <li><a class="nav_link" href="/">Pages</a></li>
        <li ><a class="nav_link" href="/">Contact</a></li>
    </ul>

    <div class="phone_info_container">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
            <circle cx="21.8213" cy="21.7676" r="21.7676" fill="#FFC42B"/>
            <path d="M18.9586 22.054C19.7098 23.6053 20.9641 24.8564 22.5173 25.6036C22.6319 25.6579 22.7586 25.6814 22.885 25.6718C23.0114 25.6622 23.1331 25.6198 23.2382 25.5489L25.5194 24.025C25.6202 23.9567 25.7367 23.9149 25.8579 23.9038C25.9792 23.8926 26.1013 23.9123 26.2129 23.9611L30.4834 25.7953C30.6293 25.856 30.7513 25.963 30.8304 26.0999C30.9096 26.2368 30.9415 26.3958 30.9214 26.5526C30.786 27.6091 30.2704 28.58 29.4709 29.2837C28.6715 29.9874 27.643 30.3757 26.5779 30.376C23.2866 30.376 20.1301 29.0685 17.8028 26.7412C15.4754 24.4139 14.168 21.2574 14.168 17.9661C14.1682 16.901 14.5565 15.8725 15.2602 15.073C15.964 14.2736 16.9349 13.7579 17.9913 13.6226C18.1481 13.6024 18.3072 13.6344 18.4441 13.7135C18.5809 13.7927 18.6879 13.9146 18.7487 14.0606L20.5828 18.3402C20.6305 18.45 20.6505 18.5699 20.6409 18.6892C20.6314 18.8085 20.5926 18.9237 20.5281 19.0245L19.0042 21.3423C18.9363 21.4471 18.8965 21.5676 18.8885 21.6922C18.8806 21.8168 18.9047 21.9414 18.9586 22.054V22.054Z" stroke="#0D0D0D" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        <p>+ (888) 452 1505</p>
    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>

<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector("ul");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    })

    document.querySelectorAll(".nav_link").forEach(n => n.
    addEventListener("click", () => {
        hamburger.classList.remove("active");
        ul.classList.remove("active");
    }))
</script>

<style>
    nav{
        background: rgba(27, 27, 27, 0.91);
        backdrop-filter: blur(10.5px);
        min-height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.25rem 12rem;
    }

    .ask_experts_container{
        display: flex;
        font-family: var(--heading-font);
        font-size: var(--heading-size7);
        gap: 0.5rem;
        align-items: center;
    }

    a{
        color: #fff;
        text-decoration: none;
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    li{
        font-family: var(--p-font);
        color: #fff;
    }
    
    .nav_link{
    transition: 0.7s ease;
    }
    
    .nav_link:hover{
        color: #5AB612;
    }

    .phone_info_container{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--alt-text-color);
        font-family: var(--p-font);
        font-size: var(--heading-size7);
        background: #fff;
        border-radius: 2.625rem;
        padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    }

    .hamburger{
        display: none;
        cursor: pointer;
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    /* Burde bruge container quries, men har ikke helt lært at bruge dem endnu og har brugt så lang tid på denne navbar at jeg bare gerne vil have den færdig */

    @media(max-width: 1279px){
        nav{
            padding: 0;
            justify-content: space-evenly;
        }

        .ask_experts_container{
            font-size: 1rem;
        }

        .phone_info_container{
            font-size: 0.8rem;
            padding: 0.2rem 0.4rem;
    }

    }
    @media(max-width: 850px){
        nav{
            justify-content: space-between;
            padding: 0 2rem;
        }

        .ask_experts_container{
            font-size: 0.8rem;
        }

        svg{
            height: 2.5rem;
        }

        .hamburger{
            display: block;
        }

        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }

        ul{
            position: fixed;
            left: -100%;
            top: 160px;
            gap: 0;
            flex-direction: column;
            background: rgba(27, 27, 27, 0.91);
        backdrop-filter: blur(10.5px);
            width: 100%;
            text-align: center;
            transition: 0.3s;
        }

        li{
            margin: 16px 0;
        }

        ul.active{
            left:0;
        }

    }
</style>